<div class="container">
  <br><br>
  <div class="jumbotron">
    <h1>Service-a-tron</h1>
    <br>
    <p>Sign up for our launch</p>
    <%= render 'form' %>
  </div>
  <div>
    <p>Your email address will only be used to let you know of our launch and will not be sold to spammers.</p>
  </div>
</div>
